## Problem2.2 ExtendBakery##

In [22]:
import pandas as pd
import numpy as nm
import math

from sklearn.metrics.pairwise import cosine_similarity

file=pd.read_csv("75000-out2-binary.csv")
file.head()

,Transaction Number,Chocolate Cake,Lemon Cake,Casino Cake,Opera Cake,Strawberry Cake,Truffle Cake,Chocolate Eclair,Coffee Eclair,Vanilla Eclair,...,Lemon Lemonade,Raspberry Lemonade,Orange Juice,Green Tea,Bottled Water,Hot Coffee,Chocolate Coffee,Vanilla Frappuccino,Cherry Soda,Single Espresso
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,3,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,4,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,5,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [3]:
file.columns

Index(['Transaction Number', 'Chocolate Cake', 'Lemon Cake', 'Casino Cake',
       'Opera Cake', 'Strawberry Cake', 'Truffle Cake', 'Chocolate Eclair',
       'Coffee Eclair', 'Vanilla Eclair', 'Napoleon Cake', 'Almond Tart',
       'Apple Pie', 'Apple Tart', 'Apricot Tart', 'Berry Tart',
       'Blackberry Tart', 'Blueberry Tart', 'Chocolate Tart', 'Cherry Tart',
       'Lemon Tart', 'Pecan Tart', 'Ganache Cookie', 'Gongolais Cookie',
       'Raspberry Cookie', 'Lemon Cookie', 'Chocolate Meringue',
       'Vanilla Meringue', 'Marzipan Cookie', 'Tuile Cookie', 'Walnut Cookie',
       'Almond Croissant', 'Apple Croissant', 'Apricot Croissant',
       'Cheese Croissant', 'Chocolate Croissant', 'Apricot Danish',
       'Apple Danish', 'Almond Twist', 'Almond Bear', 'Blueberry Danish',
       'Lemon Lemonade', 'Raspberry Lemonade', 'Orange Juice', 'Green Tea',
       'Bottled Water', 'Hot Coffee', 'Chocolate Coffee',
       'Vanilla Frappuccino', 'Cherry Soda', 'Single Espresso'],
      dtype='object')

In [4]:
item1_name = 'Chocolate Cake'
item2_name = 'Chocolate Coffee'

selection = file[[item1_name,
                  item2_name]]
selection.head()

   Chocolate Cake  Chocolate Coffee
0               0                 0
1               0                 0
2               0                 0
3               0                 0
4               0                 0

In [5]:
item1_count = selection[item1_name] == 1
item2_count = selection[item2_name] == 1

In [6]:
item1_count.count()

75000

In [23]:
f = selection.groupby([item1_count,
                       item2_count]).count()
print(f)

                                 Chocolate Cake  Chocolate Coffee
Chocolate Cake Chocolate Coffee
False          False                      65802             65802
               True                        2933              2933
True           False                       2962              2962
               True                        3303              3303

In [26]:

f00 = f[item1_name][0][0]
f01 = f[item1_name][0][1]
f10 = f[item2_name][1][0]
f11 = f[item2_name][1][1]

print(f00)
print(f01)
print(f10)
print(f11)

65802
2933
2962
3303

In [27]:
f1p = f11 + f10
fp1 = f11 + f01
f0p = f01 + f00
fp0 = f10 + f00

print(f1p)
print(fp1)
print(f0p)
print(fp0)

6265
6236
68735
68764

### PHI-Coeefficient

In [10]:
s1 = n11*n00
print(s1)

217344006

In [11]:
s2 = n10*n01
print(s2)

8687546

In [12]:
correlation_coefficient=(s1-s2)/(math.sqrt(n1p*np1*n0p*np0))
correlation_coefficient

0.4855664925278768

In [13]:
pd.crosstab(file['Chocolate Coffee'],file['Chocolate Cake'])

Chocolate Cake        0     1
Chocolate Coffee
0                 65802  2962
1                  2933  3303

In [28]:
n = f1p + f0p
print(n)

n = fp1 + fp0
print(n)

75000
75000

In [29]:
s = f11 / n
print(s)

c = f11 / f1p
print(c)

0.04404
0.5272146847565842

In [14]:

item_1='Chocolate Coffee'
item_2='Chocolate Cake'

In [15]:
item_1_c=selection[item_1]==1
item_2_c=selection[item_2]==1

In [16]:
print(selection.groupby([item_1_c,item_2_c]).count())

                                 Chocolate Cake  Chocolate Coffee
Chocolate Coffee Chocolate Cake
False            False                    65802             65802
                 True                      2962              2962
True             False                     2933              2933
                 True                      3303              3303

In [17]:
f=selection.groupby([item_1_c,item_2_c]).count()

f00=f[item_1][0][0]
f01=f[item_1][0][1]
f10=f[item_2][1][0]
f11=f[item_2][1][1]

f1p=f11+f10
fp1=f11+f01
f0p=f01+f00
fp0=f10+f00

print(f1p)
print(fp1)
print(f0p)
print(fp0)

6236
6265
68764
68735

In [18]:
cake_coefficeint=((f11*f00)-(f01*f10))/math.sqrt(f1p*fp1*f0p*fp0)
cake_coefficeint

0.4855664925278768

In [19]:
confidence_Coffee_to_Cake=f11/(f11+f01)
confidence_Coffee_to_Cake

0.5272146847565842

In [30]:
s = f11 / n
print(s)

c = f11 / f1p
print(c)

0.04404
0.5272146847565842

In [32]:

lift = c / (fp1 / n)
print(lift)

I = n*f11 / (f1p * fp1)
print(I)

6.340779563300805
6.340779563300805

In [33]:

s_a = f1p / n
s_b = fp1 / n
s_ab = f11 / n

c_ab = s_ab / s_a
c_ba = s_ab / s_b

IS = s_ab / (math.sqrt(s_a * s_b))
print(IS)

IS = math.sqrt(c_ab * c_ba)
print(IS)

0.5284391468918322
0.5284391468918322

In [34]:
x = selection[item1_name]
y = selection[item2_name]

cos_xy = np.dot(x,y) / (np.linalg.norm(x) * np.linalg.norm(y))
print(cos_xy)

cos_xy = cosine_similarity(selection[item1_name].values.reshape(1, -1),
                           selection[item2_name].values.reshape(1, -1)).ravel()[0]
print(cos_xy)

0.5284391468918322
0.5284391468918319

In [20]:
import numpy as np
import scipy

from scipy.stats.stats import pearsonr

Rdata=pd.read_csv('75000-out2-binary.csv')
#Rdata.columns

df=pd.DataFrame(data=Rdata,columns=['Chocolate Coffee','Chocolate Cake'])
df.head()


Chocolate_Coffee=np.array(df['Chocolate Coffee'])
Chocolate_Cake=np.array(df['Chocolate Cake'])

print (pearsonr(Chocolate_Coffee,Chocolate_Cake))

print (np.corrcoef(Chocolate_Coffee,Chocolate_Cake))
#print(df)

(0.48556649252787687, 0.0)
[[1.         0.48556649]
 [0.48556649 1.        ]]

### Answer  ###
These two items are asymmetric

{'Chocolate Coffee'} -> {'Chocolate Cake'} and {'Chocolate Cake'} -> {'Chocolate Coffee'} have the same Phi-Coefficient according to selection group